{% extends 'Admin.html' %}

{% block Formularios %}

<h2>Listado de Mascotas</h2>

<table class="table table-dark">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            FechaNacimiento
        </th>
        <th>
            Genero
        </th>
        <th>
            Cliente
        </th>
        <th>
            Raza
        </th>

        <th>
            Citas
        </th>
    </tr>
    {% for dataMas in infomas %}
    <tr>
        <td>
            {{ dataMas.Nombre }}
        </td>
        <td>
            {{ dataMas.FechaNacimiento }}
        </td>
        <td>
            {{ dataMas.GeneroMascota }}
        </td>
        <td>
            {{ dataMas.Cliente }}
        </td>
        <td>
            {{ dataMas.Raza }}
        </td>

        <td>
            <button class="btn" ><a href="{% url 'RegistroCitas' dataMas.pk %} "> Apartar</a></button>
        </td>


        
    </tr>
    {% endfor%}

</table>


{% endblock %}