{% extends 'Plantilla.html' %}

{% block Botones %}
    <a href="ListarMedico.html"><p><button  class="boton btn" >Mostrar Medicos</button></p></a>
    <a href="ListarCliente.html"><p><button class="boton btn" >Mostrar Clientes</button></p></a>
    <a><p><button class="boton btn" >Mostrar Mascotas</button></p></a>
{% endblock %}


{% block Formularios %}
    <form action="#" method="POST">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="boton btn">Enviar</button> 

    </form>
{% endblock %}