.filas{
    width: 85%;
    margin: auto;
    margin-left: 0;
    
}

#Verificar{
    margin-top: 1.7em;
}



#row3{
    width: 40%;
    margin: auto;
    margin-top: 3em;
    margin-bottom:1em; 
}

#Apartar{
    width: 8em;
}

.Separacion{
    margin-top: 1.5em;
    margin-bottom:1em; 
}

